@import url('https://fonts.googleapis.com/css2?family=Krub:wght@400;700&family=Lato:wght@400;700&family=Open+Sans:wght@400;700&family=Roboto:wght@400;700&display=swap');

html {
    box-sizing: border-box;
  }
  *, *:before, *:after {
    box-sizing: inherit;
  }

body {
  font-family: 'Roboto', sans-serif;
  background: #eee;
}

h1 {
  margin: 0 auto;
  text-align: center;
}
input.search-box {
  display: flex;
  width: 50%;
  margin: 0 auto 20px;
  padding: 10px;
  border-radius: 5px;
}

.card-container {
  display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

/* Component Styles */
@import "./css/SocialCard";
@import "./css/Address";